/* Design */

.design-back{
    width: 100%;
    height: 442px;
    margin: 0 auto;
    background: url(../images/design/city.png), 50% / cover no-repeat;
    background-size: 100% 100%;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .5);
    background-attachment: fixed;
}

.design-wrapper{
    max-width: 1510px;
    height: 442px;
    margin: 0 auto;
}

.design-wrapper__title{
    padding-top: 50px;
    color: #FFF;
}

.design-wrapper__separator{
    border-color: #FFF;
}

.design-wrapper__subtitle{
    color: #FFF;
}

.design-wrapper__button{
    width: 370px;
    height: 58px;
    margin-left: 570px;
    margin-top: 73px;
}

@media (max-width: 1140px){
    .design-wrapper__button{
        margin-left: 400px;
    }
}

@media (max-width: 1024px){
    .design-back, .design-wrapper{
        max-width: 1024px;
        height: 358px;
    }

    .design-wrapper__title{
        margin-top: 0;
    }

    .design-wrapper__button{
        width: 318px;
        height: 58px;
        margin-top: 32px;
        margin-left: 353px;
    }
}

@media (max-width: 700px){
    .design-wrapper__button{
        margin-top: 50px;
        margin-left: 10px;
        width: 280px;
    }
}

@media (max-width: 390px){
    .design-back, .design-wrapper{
        max-width: 390px;
        height: 360px;
    }

    .design-wrapper{
        background: url(../images/design/city.png), 100% 100% / contain no-repeat;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, .5);
        background-attachment: none;
    } 

    .design-wrapper__title{
        padding-top: 0;
        font-size: 24px;
    }

    .design-wrapper__subtitle{
        height: 48px;
        margin-top: 16px;
        font-size: 14px;
    }

    .design-wrapper__button{
        width: 288px;
        height: 50px;
        margin-left: 51px;
        margin-top: 50px;
    }
}

@media (max-width: 358px){
    .design-wrapper__button{
        margin-left: 0;
    }
}

@media (max-width: 320px){
    .design-back, .design-wrapper{
        min-width: 320px;
        height: 360px;
    }

    .design-wrapper{
        background: url(../images/design/city.png), 100% 100% / contain no-repeat;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, .5);
        background-attachment: none;
    } 

    .design-wrapper__title{
        padding-top: 0;
        font-size: 24px;
    }

    .design-wrapper__subtitle{
        height: 48px;
        margin-top: 16px;
        font-size: 14px;
    }

    .design-wrapper__button{
        width: 288px;
        height: 50px;
        margin-left: 16px;
        margin-top: 50px;
    }
}