@import url(./Header.css);
@import url(./Axit-section.css);
@import url(./SocialMedia-section.css);
@import url(./Tabs-section.css);
@import url(./Awesome-section.css);
@import url(./Pricing-section.css);
@import url(./Customers-section.css);
@import url(./Design-section.css);
@import url(./Contact-section.css);
@import url(./Footer.css);

/* Reset */

html, body, h2, h3, p, input, textarea, ul, li{
    margin: 0;
    padding: 0;
}

.header, .axit-wrapper, .social-media, .awesome-wrapper, .pricing-wrapper, .customers-wrapper, .design-wrapper, .contact-wrapper, .footer{
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

/* body {
    overflow-x: hidden;
} */