h2, h3, p{
    margin: 0;
}

.back{
    width: 1508px;
    height: 593px;
    margin: auto;
}

.tab-wrapper{
    width: 1170px;
    height: 543px;
    margin-left: 170px;
    margin-top: 99px;
    margin-bottom: 50px;
}

.tab-wrapper__tab-action{
    display: none;
}

.tab-wrapper__subject{
    width: 203px;
    height: 40px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    margin-right: -4px; 
    margin-bottom: -1px;
}

#subject2, #subject3{
    width: 184px;
    height: 40px;
}

.tab-title{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;

    display: flex;
    width: 70px;
    height: 39px;
    justify-content: center;
    align-items: center;
}

.tab-title1{
    padding-left: 65px;
}

.tab-title2{
    padding-left: 57px;
}

.tab-title3{
    padding-left: 57px;
}

.tab-wrapper__content{
    display: none;
    border: 1px solid #C6CBCD ;
}

#tab1:checked ~ .content-tab1{
    display: block;
}

#tab2:checked ~ .content-tab2{
    display: block;
}

#tab3:checked ~ .content-tab3{
    display: block;
}

#tab1:checked ~ #subject1 {
    border-bottom-color: white;
}

#tab2:checked ~ #subject2 {
    border-bottom-color: white;
}

#tab3:checked ~ #subject3{
    border-bottom-color: white;
}

#tab1:not(:checked) ~ #subject1{
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
}

#tab2:not(:checked) ~ #subject2{
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
}

#tab3:not(:checked) ~ #subject3{
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
}

.tab-wrapper__content{
    width: 1170px;
    height: 501px;
}

.content-tab1__title, .content-tab2__title, .content-tab3__title{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;

    display: flex;
    width: 570px;
    height: 124px;
    flex-direction: column;
    justify-content: center;
    padding-top: 1px;
    padding-left: 100px;    

}

.content-tab1__text, .content-tab2__text, .content-tab3__text{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    
    display: flex;
    width: 570px;
    height: 210px;
    justify-content: center;
    padding-top: 27px;
    padding-left: 100px;
}

.tab-wrapper__button{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #FFF;

    width: 270px;
    height: 58px;
    background: #EC7979;
    border: none;
    margin-top: 27px;
    margin-left: 100px;
}

.tab-wrapper__button:hover{
    background: #AB4949;
}

.tab-wrapper__button:active{
    background: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.tab-wrapper__image{
    width: 470px;
    height: 501px;
    margin-left: 700px;
    margin-top: -447px;
}

.awesome-wrapper{
    width: 1508px;
    height: 723px;
    border-radius: 100px;
    margin: auto;
}

.awesome-wrapper__title, .headline{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 42.26px;
    
    display: flex;
    width: 1170px;
    height: 150px;
    align-items: center;
    justify-content: center; 
    text-transform: uppercase;
    padding-left: 171px;
}

.awesome-wrapper__separator, .line{ 
    width: 170px;
    border-top: 1px solid #EC7979;
    margin-left: auto;
    margin-right: auto;
}

.awesome-wrapper__subtitle, .subline{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    color: #86878B;

    display: flex;
    width: 1169px;
    height: 21px;
    justify-content: center;
    margin-top: 40px;
    padding-left: 172px;
}

.awesome-wrapper__section{
    width: 370px;
    height: 383px;
    margin-top: 71px;
    margin-left: 168px;
    float: left;
}

.section2-awesome, .section3-awesome{
    margin-left: 30px;
}

.section1-awesome__image, .section2-awesome__image, .section3-awesome__image{
    margin-left: 100px;
}

.section1-awesome__subtitle, .section2-awesome__subtitle, .section3-awesome__subtitle{
    font-family: 'Open Sans';
    font-weight: 700;
    size: 24px;

    display: flex;
    width: 369px;
    height: 100px;
    justify-content: center;
    align-items: center; 
}

.section1-awesome__text, .section2-awesome__text, .section3-awesome__text{
    font-family: 'Raleway';
    font-weight: 400;
    size: 18px;
    text-align: center;

    width: 370px;
    height: 105px;
    margin-top: 8px;
}

.pricing-wrapper{
    width: 1508px;
    height: 900px;
    background-color: #F5F5F5;
    margin: auto;
}

.pricing-wrapper__title{
    padding-top: 50px;
    padding-left: 168px;
}

.pricing-wrapper__subtitle{
    padding-left: 169px;
}

.pricing-wrapper__subject{
    width: 370px;
    height: 510px;
    background-color: #FFF;
    margin-top: 79px;
    float: left;
}

.subject1-pricing__rate, .subject2-pricing__rate, .subject3-pricing__rate{
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    color: #FFF;

    display: flex;
    width: 370px;
    height: 59px;
    justify-content: center;
    align-items: center;
    background-color:#333333;
    border-bottom: 1px solid #F5F5F5;
}

.subject1-pricing__price, .subject2-pricing__price, .subject3-pricing__price{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 36px;
    color: #FFF;

    display: flex;
    width: 370px;
    height: 98px;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
}

.subject1-pricing__slogan, .subject2-pricing__slogan, .subject3-pricing__slogan{
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.50);

    display: flex;
    width: 370px;
    height: 48px;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
}

.subject1-pricing__text, .subject2-pricing__text, .subject3-pricing__text{
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    color: #86878B;

    display: flex;
    width: 370px;
    height: 48px;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
}

.subject1-pricing{
    margin-left: 168px;
}

.subject2-pricing, .subject3-pricing{
    margin-left: 30px;
}

.pricing-wrapper__subject:hover{
    transform: translate(0,-20px);
    box-shadow: 0px 4px 10px 0px #33333333;
}

.customers-wrapper{
    width: 1508px;
    height: 744px;
    margin: auto;
}

.customers-wrapper__title{
    padding-top: 50px;
}

.banner-customers{
    width: 370px;
    height: 180px;
    border-radius: 10px;
    background-color: #E2E2E2;
}

.banner-customers__text{
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    color: #86878B;

    text-align: center;
    padding-top: 38px;
}

.customers-wrapper__triangle{
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    margin-left: 70px;
}

.customers-wrapper__image{
    margin-top: 46px;
    float: left;
}

.customers-wrapper__name{
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;

    display: flex;
    width: 269px;
    height: 54px;
    align-items: center;
    padding-top: 46px;
    padding-left: 30px;
}

.customers-wrapper__job-title{
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;

    display: flex;
    width: 270px;
    height: 21px;
    padding-top: 15px;
    padding-left: 30px;
}

.customers-wrapper__section1{
    width: 370px;
    height: 336px;
    margin-top: 83px;
    margin-left: 170px;
    float: left;
}

.customers-wrapper__section2{
    width: 370px;
    height: 336px;
    margin-top: 83px;
    margin-left: 30px;
    float: left;
}

.customers-wrapper__section3{
    width: 370px;
    height: 336px;
    margin-top: 83px;
    margin-left: 30px;
    float: left;
} 